html{
    scroll-behavior:smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    white-space: wrap;
}

#home{
    background-image: url('/ds4.jpg') ;  
    background: hsla(0, 0, 0, 100); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    
}
p{
    font-size: 1.5rem;
}


body{
    overflow-x: hidden;
}

section{
    
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
}    
body{
    display: grid;
    text-align: center;
    position: relative;
}
.top{
    align-self: flex-start;
    display: grid;
    width: 100vw;
    height: 50px;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: minmax(100px,500px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 100px;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
    grid-row: 1;

   
}
body::-webkit-scrollbar {
    display: none;
}
.banner{
    width: 90%;
    height: 200px;
   justify-self: center;
   color: whitesmoke;
   text-shadow: 10px 10px 10px ;
   border: 1px solid transparent;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: rgba(0,0,0,0.39);
   align-items: center;
}

img{
    aspect-ratio: 1;
    height: 100px;
    
    justify-self: left ;
}
#toggleButton{
    visibility: hidden;
}
nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
    justify-content: center;
    color: white;
    
}
ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    gap:50px;
}
 a{
    color: white;
    text-decoration: none;
    
    border-radius: 10px;
    padding: 5px;
}
a:hover{
    background-color: whitesmoke;
    color: black;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .2s;
}

#upLink{
    background-color: bisque;
    width: 50px;
    animation: 1s ease 1s infinite normal forwards wiggle;
}

@keyframes wiggle{
    0%{
        
        width: 50px;
    }
    50%{
        width: 80px;
    }
    100%{
        width: 50px;
    }
}







h2{
    margin-top: 100px;
}



.navFix  {
    position: fixed;
    top:0px;
    right: 30%;
    padding-top: 0;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
}

#upLink{
    position: fixed;
    right:100px;
    bottom: 100px;
    color: black;
    font-size: 2rem;
    visibility: hidden;
}

@media screen and (max-width:500px) {
    #home{
        background-image: url('/itachi1.jpg') ;    
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows:400px;
        
    }
    .top{
        align-self: flex-start;
        display: grid;
        width: 100vw;
        height: 50px;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: minmax(100px,auto);
        grid-auto-flow: row;
        justify-content: center;
        gap: 10px;
        margin-left: 10px;
        margin-top: 10px;
        align-items: center;
        position: relative;
       
    }
    img{
        aspect-ratio: 1;
        height: 50px;
    }
    .linlContainer{
        transition: .5s;

    }
    nav{
        grid-row: 2/3;
        grid-column: span 1;
    }
    .banner{
        grid-row: span 2;
    }
    #toggleButton{
        visibility: visible;
        position: absolute;
        right:20% ;
        top:30%;
        background-color: brown;
    }    
    
    ul{
        width: 100vw;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: black;        
        
    }
    li{
        background-color: azure;
        border-radius: 10px;
    }
    a{
        color: black;

    }
    .show{
        height: auto;
        
    }
    
}